[[language]]
name = "python"
roots = ["pyproject.toml", "requirements.txt", ".git", ".venv"]
language-servers = [ "basedpyright", "ruff", "harper-ls"]
auto-format = true

[[language]]
name = "rust"
roots = ["Cargo.toml", "Cargo.lock", ".git"]
language-servers = ["rust-analyzer", "harper-ls"]
auto-format = true

[language-server.basedpyright.config]
basedpyright.analysis.autoSearchPaths = true
basedpyright.analysis.autoImportCompletion = true
basedpyright.analysis.diagnosticMode = "workspace"
basedpyright.analysis.typeCheckingMode = "standard"

# https://docs.astral.sh/ruff/settings
[language-server.ruff.config.settings]
command = "ruff"
args = ["server"]
lineLength = 120

[language-server.ruff.analyze]
detect-string-imports = true

[language-server.ruff.lint.pydocstyle]
convention = "numpy"


[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]
